@model IEnumerable<FinalProject12.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Order History</h1>

<p>
    <a asp-action="Create">Purchase a New Ticket</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopcornPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
