@model IEnumerable<FinalProject12.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie Reviews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                @if (User.Identity.IsAuthenticated && item.AppUser?.UserName == User.Identity.Name)
                {
                    <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a>
                } |
                @if (User.Identity.IsAuthenticated && item.AppUser?.UserName == User.Identity.Name)
                {
                    <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
                }
            </td>

        </tr>
}
    </tbody>
</table>
